/* div,a,span,h1
{
    background-color: red;
}

div,h1
{
    display: inline;
}


a,span
{
    display: block;
}
 */

 div
 {
     height: 200px;
     width: 200px;
     background-color: green;
     margin: 5px;
     display: inline-block;
 }
