*
{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,body
{
    width: 100%;
    overflow-x: hidden;
    background-color: #efefef;
}

/* Navbar Starts */
nav
{
    background-color: white;
    padding: 29px 5px;
    position: fixed;
    top: 0px;
    width: 100%;
}

nav li
{
    display: inline;
}

ul
{
    display: inline;
    margin-left: 300px;
}

nav ul li a
{
    text-decoration: none;
    font-size: 18px;
    margin-left: 40px;
    color: gray;
}

nav ul li a:hover
{
    color: rgb(63, 158, 247);
}

.brand-logo
{
    text-decoration: none;
    font-size: 23px;
    margin-left: 70px; 
    color: black;
}
.navbar-icons
{
    display: inline;
    margin-left: 20px ;
}
.fab
{
    color: gray;
    font-size: 20px;
}
.fab:hover
{
    color: rgb(63, 158, 247);
}

.banner
{
    height: 500px;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("./hero-bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.banner-content
{
    color: white;
    width: 650px;
    padding: 20px;
    text-align: center;
    margin: 100px auto;
}
.banner-content h1
{
    font-size: 50px;
}
.banner-content p
{
    font-size: 20px;
}
.banner-content button
{
    margin-top: 15px;
    background-color: rgb(114, 172, 226);
    color: white;
    padding: 12px 30px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
}
/* Navbar Ends */

/* What We Do starts */
    .what
    {
        margin: 50px;
    }

    .what h1
    {
        text-align: center;
        font-size: 38px;
    }
    .what-p
    {
        text-align: center;
        font-size: 20px;
    }

    .what-cards .what-card-child
    {
       
        height: 250px;
        width: 350px;
        text-align: center;
        padding: 8px;
    }

    .what-card-child div
    {
        margin-top: 58px;
    }

    .what-card-child h4
    {
        margin-top: 8px;
        margin-bottom: 8px;
        font-size: 20px;
    }

    .what-card-child
    {
        display: inline-block;
        margin-left: 40px;
    }
    .what-card-child:hover
    {
        box-shadow: 4px 4px 25px 10px rgba(128, 128, 128, 0.418);
        cursor: pointer;
    }

    .what-card-child:hover h4
    {
        color: rgb(132, 202, 243);
    }
    .what-cards
    {
        margin-top: 20px;
    }
    .fa-dribbble,.fa-file-pdf,.fa-tachometer
    {
        font-size: 23px;
        background-color: rgba(173, 216, 230, 0.253);
        height: 50px;
        width: 50px;
        padding: 10px;
        border-radius:100%;
        color:rgb(132, 202, 243);
    }

    .what .line1
    {
        background-color: rgb(248, 37, 37);
        /* height: 5px; */
        width: 50px;
        /* margin: 5px auto; */
        margin-right: -3px;
    }

    .what .line2
    {
        background-color: rgb(37, 171, 248);
        height: 5px;
        width: 50px;
        /* margin: 5px auto; */
    }

    .what .line3
    {
        background-color: rgb(55, 248, 37);
        /* height: 5px; */
        width: 50px;
        /* margin: 5px auto; */
        margin-left: -5px;
    }
    
    .what hr
    {
        display: inline-block;
    }

    .my-hrs
    {
        margin: 2px 537px;
    }
/* What We Do ends */

/* About us Starts */
    .about-us
    {
        padding: 50px;
    }

    .about-us-img,.about-us-content
    {
        width: 600px;
        display: inline-block;
    }

    .about-us-content
    {
        margin-left: 35px;
        padding: 20px;
    }
    .about-us-img img
    {
        height: 100%;
        width: 100%;
    }

    .about-icons
    {
        width: 270px;
        padding: 20px;
        display: inline-block;
        
    }
    .about-us-content-heading p
    {
        font-size: 20px;
        margin-top: -20px;
    }
    .about-us-content-heading h1
    {
        font-size: 30px;
        margin-bottom: 30px;
    }

    .about-us-content-heading
    {
        margin-bottom: 40px;
    }
    .about-us-content li
    {
        margin-bottom: 20px;
        list-style-type: none;
    }

    .about-icons h4
    {
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .fa-file-invoice,.fa-cube
    {
        font-size: 35px;
    }
   .fa-check-double,.fa-file-invoice,.fa-cube
   {
       color: rgb(0, 153, 255);
   }
/* About us Ends */
progress
{
    height: 20px;
    width: 600px;
    border-radius: 0;
    background-color: rgb(0, 153, 255);
}