.parent
{
    background-color: red;
    position: relative;
   
}

.child
{
    background-color: green;
    width: 100px;
    height: 100px;
    position: absolute;
   left: 600px;
   bottom: 50px;
}